.situacion {
    border-radius: 5%;
    border: black solid 2px;
    padding: 10px;
}

table {
    color: blue;
    th {
        font-weight: 700;
        font-size: 14px;
    }
    th.numero,
    td.numero {
        text-align: center;
        width: 45px;
    }
    th.remite,
    td.remite {
        text-align: center;
        width: 70px;
    }
}

md-toolbar {
    margin-bottom: 10px !important;
    &:not(.mat-primary) {
        & .mat-toolbar-row {
            flex-wrap: wrap;
            height: auto;
            padding: 5px 0;
        }
        & button {
            margin: 5px !important;
        }
    }
}

mgl-timeline:not(.mobile) {
    padding: 50px 20px;
}

mgl-timeline.mobile {
    padding-right: 20px;
}

.primary {
    background-color: blue;
    color: blue!important;
}

mgl-timeline-entry {
    margin-bottom: 0px!important;
}

pre,
strong {
    margin-top: 10px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aqua-gradient pre {
    font-size: 12px;
}