<div class="container">
    <h3 class="text-center">SITUACIÓN DE MI TRÁMITE</h3>
    <div class="situacion">
        <h4 class="text-center">EXPEDIENTE N° E-011540-2019 - Situación actual: FINALIZADO</h4>
        <div class="card">
            <div class="card-body">
                <table mdbTable bordered="true" class="table table-hover table-responsive-md table-fixed">
                    <tbody>
                        <tr>
                            <th>Codigo:</th>
                            <td>{{documento.codigo}}</td>
                        </tr>
                        <tr>
                            <th>Fecha de trámite:</th>
                            <td>{{documento.fregistro}}</td>
                        </tr>
                        <tr>
                            <th>Documento:</th>
                            <td>{{documento.tipodcoumento}}</td>
                        </tr>
                        <tr>
                            <th>Número de folios:</th>
                            <td>{{documento.nfolios}}</td>
                        </tr>
                        <tr>
                            <th>Asunto:</th>
                            <td>{{documento.asunto}}</td>
                        </tr>
                        <tr>
                            <th>Interesado:</th>
                            <td>{{documento.interesado}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- 
                <p>MOVIMIENTOS</p>
                <table class="table table-hover table-responsive-md table-fixed">
                    <thead>
                        <tr class="table-dark">
                            <th class="numero">Nº</th>
                            <th class="remite">Remite</th>
                            <th>Unidad orgánica</th>
                            <th>Fecha Estado</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody mdbTable bordered="true">
                        <tr>
                            <td class="numero">1</td>
                            <td class="remite">N°</td>
                            <td>OFICINA DE GESTION DOCUMENTAL Y ATENCION AL USUARIO</td>
                            <td>21/01/2019 <br> 11:17</td>
                            <td>DERIVADO</td>
                        </tr>
                        <tr>
                            <td class="numero">2</td>
                            <td class="remite">N°1</td>
                            <td>OFICINA DE GESTION DOCUMENTAL Y ATENCION AL USUARIO</td>
                            <td>21/01/2019 <br> 17:38</td>
                            <td>DERIVADO</td>
                        </tr>
                        <tr>
                            <td class="numero">3</td>
                            <td class="remite">N°2</td>
                            <td>DIRECCION GENERAL DE POLÍTICA DE INGRESOS PÚBLICOS</td>
                            <td>22/01/2019 <br> 15:38</td>
                            <td>DERIVADO</td>
                        </tr>
                        <tr>
                            <td class="numero">4</td>
                            <td class="remite">N°3</td>
                            <td>DIRECCIÓN DE ASUNTOS TRIBUTARIOS INTERNACIONALES</td>
                            <td>22/01/2019 <br> 17:38</td>
                            <td>DERIVADO</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div> -->



                <h3 class="text-center">SEGUIMIENTO</h3>
                <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
                    <mgl-timeline-entry *ngFor="let entry of seguido; let i = index;" (expand)="onExpandEntry($event, i)">
                        <mgl-timeline-entry-header (click)="onHeaderClick($event)">
                            <div>{{entry.areamovimiento}}</div>
                        </mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>
                            <div>
                                <div> <strong>FECHA:</strong> {{entry.fmovimiento}}</div>
                                <div> <strong>HORA:</strong> {{entry.hora}}</div>
                                <div> <strong>OBSERVACIÓN:</strong> {{entry.observacion}}</div>
                                <div> <strong>ESTADO:</strong> {{entry.estadomovimiento}}</div>
                            </div>
                        </mgl-timeline-entry-content>
                        <mgl-timeline-entry-dot class="aqua-gradient" [size]="size" (click)="onDotClick($event)">
                            <pre>    {{i +1}}</pre>
                        </mgl-timeline-entry-dot>
                        <!-- <mgl-timeline-entry-side>2018</mgl-timeline-entry-side> -->
                    </mgl-timeline-entry>
                </mgl-timeline>
            </div>