div.card {
    // background: url('../../../assets/img/backgrounds/forest4.jpg');
    background: url('../../../../assets/img/backgrounds/forest4.jpg');
    height: 900px;
    width: 100%;
}

h3 {
    color: brown;
}

p {
    color: brown;
}