<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="text-white text-center cuerpo">
                <!-- Content -->
                <div class="text-white text-center mt-5 animated fadeIn">
                    <h3 class="card-title h3-responsive font-bold mt-5">BIENVENIDOS AL SISTEMA DE TRÁMITE DOCUMENTARIO DE POSGRADO-UNSCH</h3>
                    <!-- <a mdbBtn gradient="peach" mdbWavesEffect >Inicio</a> -->
                    <a mdbBtn gradient="blue" mdbWavesEffect (click)="ingresar()">INICIO</a>
                    <p class="card-text mt-5">V. 0.0.1-beta</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button> -->

<div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Pendientes</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <table class="table table-hover table-responsive-md table-fixed text-center">
                    <thead>
                        <tr class="table-dark">
                            <th>Tipo</th>
                            <th>Remitente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pendientes">
                            <td>{{item.tipoDoc}}</td>
                            <td>{{item.remitente}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Aceptar</a>
                <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal" mdbWavesEffect (click)="frame.hide()">Cancelar</a>
            </div>
        </div>
    </div>
</div>