<div class="container mt-5">
    <!-- Nav tabs -->
    <mdb-tabset #staticTabs [buttonClass]="'md-tabs pills-primary white'" [contentClass]="''" class="mt-5">
        <!--Panel 1-->
        <mdb-tab heading="AREAS">
            <app-area></app-area>
        </mdb-tab>
        <!--Panel 2-->
        <mdb-tab heading="ROLES">
            <div class="row">
                <div class="col-12">
                    <app-rol></app-rol>
                </div>
            </div>
        </mdb-tab>
        <!--Panel 3-->
        <mdb-tab heading="EMPLEADO">
            <div class="row">
                <div class="col-12">
                    <app-persona></app-persona>
                </div>
            </div>
        </mdb-tab>
        <!--Panel 4-->
        <!-- <mdb-tab heading="USUARIOS">
            <div class="row">
                <div class="col-12">
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
                </div>
            </div>
        </mdb-tab> -->
    </mdb-tabset>
</div>