<!-- <div class="md-form">
    <select class="mdb-select colorful-select dropdown-dark" #AreaSelect (change)="selecArea(AreaSelect.value)">
        <option disabled="disabled" value="">-Seleccionar area-</option>
        <option *ngFor="let item of areas" [value]="item.idarea">
            {{item.descripcion}}
    </option>
</select>
</div> -->
<div class="contenido">
    <h3 class="text-center">DOCUMENTOS DERIVADOS A ESTA AREA</h3>

    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th>DOCUMENTO</th>
                        <th>ASUNTO</th>
                        <th>APELLIDOS Y NOMBRES</th>
                        <th>MOTIVO DE REMISIÓN</th>
                        <th>DOC. GENERADO</th>
                        <th>FECHA REMITIDO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pendientes, let i = index">
                        <td>{{item.documento.tipoDocumento.descripcion}}</td>
                        <td>{{item.documento.asunto.denominacion}}</td>
                        <td>{{item.documento.remitente.apellidos}}, {{item.documento.remitente.nombres}}</td>
                        <td>{{item.asunto}}</td>
                        <td>{{item.docgenerado}}</td>
                        <td>{{item.fmovimiento}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>