<div class="row">
    <div class="col-12">

        <h4 class="text-center">PERSONAL</h4>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-responsive-md table-fixed">
                    <thead>
                        <tr class="table-dark text-center">
                            <th>DNI</th>
                            <th>APELLIDOS Y NOMBRE</th>
                            <th>TELEFONO</th>
                            <th>BOTONES</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of empleados" class="text-center">
                            <td>{{item.dni}} </td>
                            <td style="text-align: left;">{{item.nombre}} {{item.apellido}} </td>
                            <td>{{item.telefono}} </td>
                            <td style="color: blue;">
                                <div (click)="registerUser(item, basicModel16)"> <i class="fa fa-user" aria-hidden="true"></i> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- https://bootsnipp.com/snippets/featured/circle-button -->
        <button (click)="bacicModel15.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
        style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
      </button>


    </div>
</div>

<div mdbModal #bacicModel15="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="bacicModel15.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100 text-center" id="myModalLabel">EMPLEADO</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input mdbInput type="number" id="personadni" class="form-control" [(ngModel)]="newPersona.dni">
                    <label for="personadni" class="">DNI</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="text" id="personalnombre" class="form-control" [(ngModel)]="newPersona.nombre">
                    <label for="personalnombre" class="">Nombre</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="text" id="personalapellidos" class="form-control" [(ngModel)]="newPersona.apellido">
                    <label for="personalapellidos" class="">Apellidos</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="number" id="persnaltelefono" class="form-control" [(ngModel)]="newPersona.telefono">
                    <label for="persnaltelefono" class="">Telefono</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="text" id="persnalcargo" class="form-control" [(ngModel)]="newPersona.cargo">
                    <label for="persnalcargo" class="">Cargo</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="email" id="personalcorreo" class="form-control" [(ngModel)]="newPersona.correo">
                    <label for="personalcorreo" class="">Correo</label>
                </div>
                <div class="md-form">
                    <select class="mdb-select colorful-select dropdown-dark" #AreaSelect (change)="selecArea(AreaSelect.value)">
                        <option disabled="disabled" value="">-Seleccionar area-</option>
                        <option *ngFor="let item of areas" [value]="item.idarea">
                            {{item.descripcion}}
                    </option>
                </select>
                </div>
                <div class="md-form">
                    <select class="mdb-select colorful-select dropdown-dark" #EstadoSelec (change)="selecEstado(EstadoSelec.value)">
                        <option disabled="disabled" value="">-Seleccionar estado-</option>
                        <option *ngFor="let item of estados" [value]="item.id">
                            {{item.descripcion}}
                    </option>
                </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="bacicModel15.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveOrUpdateEmpleado(bacicModel15)" mdbWavesEffect>OK</button>
            </div>
        </div>
    </div>
</div>


<div mdbModal #basicModel16="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModel16.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100 text-center" id="myModalLabel">USUARIO</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="registergForm" (ngSubmit)="onSubmitRegidter()">
                    <div class="md-form form-sm">
                        <input mdbInput mdbValidate type="text" id="form24" class="form-control" formControlName="modalFormRegisterEmail">
                        <label for="form24"><i class="fas fa-user"></i>Correo</label>
                        <mdb-error *ngIf="modalFormRegisterEmail.invalid &&(modalFormRegisterEmail.dirty || modalFormRegisterEmail.touched)">
                            Entrada no válida
                        </mdb-error>
                        <mdb-success *ngIf="modalFormRegisterEmail.valid && (modalFormRegisterEmail.dirty || modalFormRegisterEmail.touched)">
                            Entrada válida
                        </mdb-success>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbInput mdbValidate type="password" id="form25" class="form-control" formControlName="modalFormRegisterPassword">
                        <label for="form25"> <i class="fas fa-unlock-alt"></i>Contraseña</label>
                        <mdb-error *ngIf="modalFormRegisterPassword.invalid && (modalFormRegisterPassword.dirty || modalFormRegisterPassword.touched)">
                            Entrada no válida
                        </mdb-error>
                        <mdb-success *ngIf="modalFormRegisterPassword.valid && (modalFormRegisterPassword.dirty || modalFormRegisterPassword.touched)">
                            Entrada válida
                        </mdb-success>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbInput mdbValidate type="password" id="form26" class="form-control" formControlName="modalFormRegisterRepeatPassword">
                        <label for="form26"><i class="fas fa-unlock-alt"></i>Repetir contraseña</label>

                        <mdb-error *ngIf="modalFormRegisterRepeatPassword.value != modalFormRegisterPassword.value">
                            contraseña difrente
                        </mdb-error>

                    </div>
                    <div class="md-form">
                        <select class="mdb-select colorful-select dropdown-dark" #Rol (change)="selecTipoRol(Rol.value)">
                                <option disabled="disabled" value="">-Tipo de rol-</option>
                                <option *ngFor="let item of roles" [value]="item.idrol">
                                    {{item.descripcionrol}}
                            </option>
                        </select>
                    </div>

                    <div class="text-center form-sm mt-2">
                        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModel16.hide()" mdbWavesEffect>Cancelar</button>
                        <button mdbBtn color="info" class="waves-light" type="submit" mdbWavesEffect>Regístrate</button>
                    </div>
                </form>

                <!-- <div class="md-form">
                    <input mdbInput type="text" id="personadni" class="form-control" [(ngModel)]="newUser.username">
                    <label for="personadni" class="">Usuario</label>
                </div>

                <div class="md-form">
                    <input mdbInput type="text" id="personadni" class="form-control" [(ngModel)]="newUser.password">
                    <label for="personadni" class="">Contraseña</label>
                </div>

                <div class="md-form">
                    <input mdbInput type="text" id="personadni" class="form-control" [(ngModel)]="paswoRepetido">
                    <label for="personadni" class="">Repetir Contraseña</label>
                </div>

                <div class="md-form">
                    <select class="mdb-select colorful-select dropdown-dark" #Rol (change)="selecTipoRol(Rol.value)">
                            <option disabled="disabled" value="">-Tipo de Documento-</option>
                            <option *ngFor="let item of roles" [value]="item.idrol">
                                {{item.descripcionrol}}
                        </option>
                    </select>
                </div>
                <div class="text-center form-sm mt-2">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModel16.hide()" mdbWavesEffect>Cancelar</button>
                    <button (click)="NuevoUser()" mdbBtn color="info" class="waves-light" type="button" mdbWavesEffect>Regístrate</button>
                </div> -->

            </div>
        </div>
    </div>
</div>