<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand">POSGRADO UNSCH</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" *ngIf="verInicio">
                <a class="nav-link waves-light" [routerLink]="['/Posgrado/Documento/Nuevo']" routerLinkActive="active" mdbWavesEffect>INICIO</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" [routerLink]="['']" routerLinkActive="active" mdbWavesEffect>BUSCAR</a>
            </li>
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
               Documentos<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" [routerLink]="['/Posgrado/Lista/Pendientes']" mdbWavesEffect>Pendientes</a>
                    <a class="dropdown-item waves-light" [routerLink]="['/Posgrado/Lista/Proceso']" mdbWavesEffect>Recibidos</a>


                </div>
            </li>
            <li class="nav-item dropdown" dropdown routerLinkActive="active" *ngIf="verMantenimiento">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
               Mantenimiento<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" [routerLink]="['/Posgrado/Mantenimiento/Tipo-documento']" mdbWavesEffect>Tipo de Documento</a>
                    <a class="dropdown-item waves-light" [routerLink]="['/Posgrado/Mantenimiento/Usuarios']" mdbWavesEffect>Usuarios</a>
                    <a class="dropdown-item waves-light" [routerLink]="['/Posgrado/Mantenimiento/Asuntos']" mdbWavesEffect>Asuntos</a>

                </div>
            </li>

            <!-- ===================avatar================== -->
            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle mdbRippleRadius class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="urlimg" height="30px" alt="user" class="profile-pic" />
                </a>
                <div class="dropdown-menu animated  ultimo">
                    <ul class="dropdown-user">
                        <li>
                            <div class="dw-user-box">
                                <div class="objetfit"><img [src]="urlimg" height="150px" width="150px" alt="user"></div>
                                <div class="u-text">
                                    <span class="nombre">{{nombre}}</span>
                                </div>
                            </div>
                        </li>
                        <li (click)="cerrarseccion()"><a class="dropdown-item waves-light"><i class="fas fa-power-off"></i>Logout</a></li>
                    </ul>
                </div>
            </li>



            <!-- Dropdown -->


        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->