li {
    margin: 0 20px 0 20px;
}
ul.dropdown-user {
    list-style: none;
    margin-top: 5px;
    margin-left: -55px;
    li {
        text-decoration: none;
    }
    li:hover {
        background-color: transparent;
        color: rgb(213, 67, 218);
        border-radius: 5%;
        cursor: pointer;
        text-decoration: none;
    }
}
.ultimo {   
    max-width: 100px;
    padding: 0px!important;
}
span.nombre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    margin-top: 2px;
    font-size: 12px;
}
