<div class="container mt-5">
    <h3 class="text-center">NUEVO EXPEDIENTE</h3>
    <div class="row">
        <div class="col-5">
            <div class="md-form">
                <div class="md-form">
                    <select class="mdb-select colorful-select dropdown-dark" #tipodocumento (change)="selecTipoDocumento(tipodocumento.value)">
                            <option disabled="disabled" value="">-Tipo de Documento-</option>
                            <option *ngFor="let tipodocumento of documentos" [value]="tipodocumento.idtipodocumento">
                                {{tipodocumento.descripcion}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- <div class="col-2 mt-5">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <label for="fecha">Fecha recepción</label>
                            </div>
                        </div>
                    </div> -->
        <!-- <div class="col-3 mt-5">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <label for="fecha"></label>
                    <input type='date' class="form-control" [(ngModel)]="newTramite.fregistro">
                </div>
            </div>
        </div> -->
        <div class="col-2">
            <div class="md-form">
                <input mdbInput type="number" id="folios" class="form-control" [(ngModel)]="newTramite.nrofolios">
                <label for="folios" class="">Nro. de folios</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="md-form">
                <input mdbInput type="text" id="remitente" class="form-control" [(ngModel)]="nombreRemitente">
                <label for="remitente" class="">Remitente</label>
            </div>
        </div>
        <div class="col-3">
            <div (click)="frame.show()">
                <i class="fa fa-search fa-3x mt-3" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-9">
            <div class="md-form">
                <input mdbInput type="text" id="asunto" class="form-control" [(ngModel)]="asuntoseleccionado">
                <label for="asunto" class="">Asunto</label>
            </div>
        </div>
        <div class="col-3">
            <div (click)="asuntoModel.show()">
                <i class="fa fa-search fa-3x mt-3" aria-hidden="true"></i>
            </div>
        </div>


        <!-- <div class="col-6">
            <div class="md-form">
                <textarea type="text" id="sumilla" class="md-textarea form-control" mdbInput [(ngModel)]="newTramite."></textarea>
                <label for="sumilla">Sumilla</label>
            </div>
        </div> -->
        <div class="col-6">
            <div class="md-form">
                <textarea type="text" id="comentario" class="md-textarea form-control" mdbInput [(ngModel)]="newTramite.descripcion"></textarea>
                <label for="comentario">Comentario</label>
            </div>
        </div>
    </div>
    <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="GuardarYactualizarTramite()">Guardar</button>
</div>

<div mdbModal #asuntoModel="mdbModal" class="modal fade" id="asuntoModelModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">ASUNTO</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="asuntoModel.hide()">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Denominacion</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="total" *ngFor="let item of Asuntos">
                            <td (click)="AsuntoSeleccionado(item, asuntoModel)">{{item.denominacion}}</td>
                            <td (click)="AsuntoSeleccionado(item, asuntoModel)">{{item.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal" (click)="asuntoModel.hide()">Cancelar</button>
                <!-- <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>Aceptar</button> -->
            </div>
        </div>
    </div>
</div>



<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">REMITENTES</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="form-inline md-form mr-auto mb-4">
                    <input mdbInput class="form-control mr-sm-2" type="text" placeholder="Buscar" (keyup.enter)="buscarXdni(buscarxDNI)" [(ngModel)]="buscarxDNI">
                    <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="button" (click)="buscarXdni(buscarxDNI)">Buscar</button>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="total" *ngFor="let item of Remitentes">
                            <th (click)="remitenteSeleccionado(item, 'natural', frame)" scope="row" *ngIf="item.dni">{{item.dni}}</th>
                            <th (click)="remitenteSeleccionado(item, 'juridica', frame)" scope="row" *ngIf="item.ruc">{{item.ruc}}</th>
                            <td (click)="remitenteSeleccionado(item, 'natural', frame)" *ngIf="item.nombres">{{item.nombres}}</td>
                            <td (click)="remitenteSeleccionado(item, 'juridica', frame)" *ngIf="item.razonsocial">{{item.razonsocial}}</td>
                            <td>{{item.telefono}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button mdbBtn color="cyan" mdbWavesEffect type="button" (click)="mdbmodal2.show()">Nuevo</button>

                <!-- <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal" >Nuevo</button> -->
                <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">Cancelar</button>
                <!-- <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>Aceptar</button> -->
            </div>
        </div>
    </div>
</div>

<div mdbModal #mdbmodal2="mdbModal" class="modal fade" id="mdbmodal2ModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">NUEVO REMITENTE</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbmodal2.hide()">
              <span aria-hidden="true">×</span>
            </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <!-- Nav tabs -->
                <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-4 pills-blue indigo  margin'" [contentClass]="''">
                    <!--Panel 1-->
                    <mdb-tab heading="Natural">
                        <div class="row" (click)="selection('1')">
                            <div class="col-12">
                                <div class="md-form">
                                    <input mdbInput type="text" id="dnipersona" class="form-control" [(ngModel)]="newRemitente.dni">
                                    <label for="dnipersona">DNI<span>*</span> </label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="text" id="apellidospersona" class="form-control" [(ngModel)]="newRemitente.apellidos">
                                    <label for="apellidospersona">Apellidos<span>*</span></label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="text" id="nombrespersona" class="form-control" [(ngModel)]="newRemitente.nombres">
                                    <label for="nombrespersona">Nombre<span>*</span></label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="email" id="correopersona" class="form-control" [(ngModel)]="newRemitente.email">
                                    <label for="correopersona">Correo</label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="text" id="telefonopersona" class="form-control" [(ngModel)]="newRemitente.telefono">
                                    <label for="telefonopersona">Telefono</label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="text" id="telefonojuridica" class="form-control" [(ngModel)]="newRemitente.direccion">
                                    <label for="telefonojuridica">Dirección</label>
                                </div>
                            </div>
                        </div>
                    </mdb-tab>
                    <!--Panel 2-->
                    <mdb-tab heading="Juridica">
                        <div class="row" (click)="selection('2')">
                            <div class="col-12">
                                <div class="md-form">
                                    <input mdbInput type="text" id="ruc" class="form-control" [(ngModel)]="newRemitente.ruc">
                                    <label for="ruc">RUC<span>*</span></label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="text" id="razonsocial" class="form-control" [(ngModel)]="newRemitente.razonsocial">
                                    <label for="razonsocial">Razón<span>*</span></label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="number" id="telefonojuridica" class="form-control" [(ngModel)]="newRemitente.telefono">
                                    <label for="telefonojuridica">Telefono</label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="email" id="correojuridica" class="form-control" [(ngModel)]="newRemitente.email">
                                    <label for="correojuridica">Correo<span>*</span></label>
                                </div>
                                <div class="md-form">
                                    <input mdbInput type="text" id="telefonojuridica" class="form-control" [(ngModel)]="newRemitente.direccion">
                                    <label for="telefonojuridica">Dirección</label>
                                </div>
                            </div>
                        </div>
                    </mdb-tab>
                </mdb-tabset>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <!-- <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal" (click)="mdbmodal2.hide()">Nuevo</button> -->
                <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal" (click)="mdbmodal2.hide()">Cancelar</button>
                <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="crearNuevoRemitente(mdbmodal2)">Aceptar</button>
            </div>
        </div>
    </div>
</div>