<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-5">
            <div class="mt-3">
                <h3 class="text-center">Seguimiento</h3>
                <div class="md-form">
                    <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="buscador" (keyup.enter)="movimientoBuscarPorCodigo()">
                    <label for="form1" class="">Código de documento</label>
                </div>
                <button class="centrear" type="button" mdbBtn color="primary" mdbWavesEffect (click)="movimientoBuscarPorCodigo()">Buscar</button>
            </div>
        </div>
    </div>
</div>




<div class="footer">
    <p class="text-center">
        Acceso para cliente <span (click)="frame.show()" style="color:red; cursor: pointer;">login</span>
    </p>
</div>
<app-footer></app-footer>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">
                <!-- Tab panels -->
                <mdb-tabset #staticTabs [buttonClass]="'nav md-tabs tabs-2 light-blue darken-3'" [contentClass]="''" class="tab-content">
                    <!--Panel 7-->
                    <mdb-tab class="tab-pane fade in show active" id="panel7" role="tabpanel" heading=" Login">
                        <!--Body-->
                        <div class="modal-body mb-1">
                            <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
                                <div class="md-form form-sm">
                                    <input mdbInput mdbValidate type="text" id="form22" class="form-control" name="modalFormLoginEmail" formControlName="modalFormLoginEmail">
                                    <label for="form22"><i class="fas fa-user"></i>Correo</label>
                                    <mdb-error *ngIf="modalFormLoginEmail.invalid && (modalFormLoginEmail.dirty || modalFormLoginEmail.touched)">
                                        Entrada no válida
                                    </mdb-error>
                                    <mdb-success *ngIf="modalFormLoginEmail.valid && (modalFormLoginEmail.dirty || modalFormLoginEmail.touched)">
                                        Entrada válida
                                    </mdb-success>
                                </div>

                                <div class="md-form form-sm">
                                    <input mdbInput mdbValidate type="password" id="form23" class="form-control" name="modalFormLoginPassword" formControlName="modalFormLoginPassword">
                                    <label for="form23"><i class="fas fa-unlock-alt"></i>Contraseña</label>
                                    <mdb-error *ngIf="modalFormLoginPassword.invalid && (modalFormLoginPassword.dirty || modalFormLoginPassword.touched)">
                                        Entrada no válida
                                    </mdb-error>
                                    <mdb-success *ngIf="modalFormLoginPassword.valid && (modalFormLoginPassword.dirty || modalFormLoginPassword.touched)">
                                        Entrada válida
                                    </mdb-success>
                                </div>
                                <div class="text-center mt-2">
                                    <button mdbBtn color="info" class="waves-light" mdbWavesEffect type="submit">Acceder</button>
                                </div>
                            </form>
                        </div>
                        <!--Footer-->
                        <!-- <div class="modal-footer display-footer">
                                <div class="options text-center text-md-right mt-1">
                                    <p>
                                        No recuerdas?
                                        <a href="#" class="blue-text">Sign Up</a>
                                    </p>
                                    <p>
                                        Forgot
                                        <a href="#" class="blue-text">Password?</a>
                                    </p>
                                </div>
                                <button type="button" mdbBtn color="info" outline="true" class="ml-auto" data-dismiss="modal" (click)="frame.hide()" mdbWavesEffect>
                    Close
                  </button>
                            </div> -->
                    </mdb-tab>
                    <!--/.Panel 7-->

                    <!--Panel 8-->
                    <mdb-tab class="tab-pane fade" id="panel8" role="tabpanel" heading="Register">
                        <!--Body-->
                        <div class="modal-body">
                            <form [formGroup]="registergForm" (ngSubmit)="onSubmitRegidter()">
                                <div class="md-form form-sm">
                                    <input mdbInput mdbValidate type="text" id="form24" class="form-control" formControlName="modalFormRegisterEmail">
                                    <label for="form24"><i class="fas fa-user"></i>Correo</label>
                                    <mdb-error *ngIf="modalFormRegisterEmail.invalid &&(modalFormRegisterEmail.dirty || modalFormRegisterEmail.touched)">
                                        Entrada no válida
                                    </mdb-error>
                                    <mdb-success *ngIf="modalFormRegisterEmail.valid && (modalFormRegisterEmail.dirty || modalFormRegisterEmail.touched)">
                                        Entrada válida
                                    </mdb-success>
                                </div>
                                <div class="md-form form-sm">
                                    <input mdbInput mdbValidate type="password" id="form25" class="form-control" formControlName="modalFormRegisterPassword">
                                    <label for="form25"> <i class="fas fa-unlock-alt"></i>Contraseña</label>
                                    <mdb-error *ngIf="modalFormRegisterPassword.invalid && (modalFormRegisterPassword.dirty || modalFormRegisterPassword.touched)">
                                        Entrada no válida
                                    </mdb-error>
                                    <mdb-success *ngIf="modalFormRegisterPassword.valid && (modalFormRegisterPassword.dirty || modalFormRegisterPassword.touched)">
                                        Entrada válida
                                    </mdb-success>
                                </div>

                                <div class="md-form form-sm">
                                    <input mdbInput mdbValidate type="password" id="form26" class="form-control" formControlName="modalFormRegisterRepeatPassword">
                                    <label for="form26"><i class="fas fa-unlock-alt"></i>Repetir contraseña</label>
                                    <mdb-error *ngIf="modalFormRegisterRepeatPassword.invalid && (modalFormRegisterRepeatPassword.dirty || modalFormRegisterRepeatPassword.touched)">
                                        Entrada no válida
                                    </mdb-error>
                                    <mdb-success *ngIf="modalFormRegisterRepeatPassword.valid && (modalFormRegisterRepeatPassword.dirty || modalFormRegisterRepeatPassword.touched)">
                                        Entrada válida
                                    </mdb-success>
                                </div>

                                <div class="text-center form-sm mt-2">
                                    <button mdbBtn color="info" class="waves-light" type="submit" mdbWavesEffect>Regístrate</button>
                                </div>
                            </form>
                        </div>
                        <!--Footer-->
                        <!-- <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1">
                                        Already have an account?
                                        <a href="#" class="blue-text">Log In</a>
                                    </p>
                                </div>
                                <button type="button" mdbBtn color="info" outline="true" class="ml-auto" data-dismiss="modal" (click)="frame.hide()" mdbWavesEffect>
                    Close
                  </button>
                            </div> -->
                    </mdb-tab>
                    <!--/.Panel 8-->
                </mdb-tabset>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>