.justify-content-md-center {
    justify-content: center;
}

.footer {
    position: fixed;
    bottom: 50px;
    width: 100%;
    .span {
        color: blue!important;
        border-bottom-color: blue!important;
        cursor: pointer;
    }
}