<div class="contenidoo">
    <h3 class="text-center">Tipos de documento</h3>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th>Tipo de Documento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of documentos">
                        <td>{{item.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- https://bootsnipp.com/snippets/featured/circle-button -->
<button (click)="basicModal12.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
  </button>

<div mdbModal #basicModal12="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal12.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100 text-center" id="myModalLabel">TIPO DE DOCUMENTO</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input mdbInput type="text" id="tipodocumento" class="form-control" [(ngModel)]="newDocument.descripcion">
                    <label for="tipodocumento" class="">Tipo de documento</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal12.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="NuevoDocumento(basicModal12)" mdbWavesEffect>OK</button>
            </div>
        </div>
    </div>
</div>