/* You can add global styles to this file, and also import other style files */

$color1: #0d47a1;
h2,
div h2,
tab h2 {
    font-weight: 700;
    text-justify: auto;
    color: $color1;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3,
div h3,
tab h3 {
    font-weight: 500;
    text-justify: auto;
    color: $color1;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4,
div h4,
tab h4 {
    font-weight: 500;
    text-justify: auto;
    color: black;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

app-footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

// inicio del buscador
.search-box {
    position: fixed;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    z-index: 99;
    .search-center {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 100px;
        .search {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            width: 80px;
            height: 80px;
            // este es el circulo que se muestra al inicio
            background: #2BBBAD;
            border-radius: 50%;
            transition: all 1s;
            z-index: 4;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
            // box-shadow: 0 0 25px 0 crimson;
            &:hover {
                cursor: pointer;
            }
            &::before {
                content: "";
                position: absolute;
                margin: auto;
                top: 22px;
                right: 0;
                bottom: 0;
                left: 22px;
                width: 12px;
                height: 2px;
                background: white;
                transform: rotate(45deg);
                transition: all .5s;
            }
            &::after {
                content: "";
                position: absolute;
                margin: auto;
                top: -5px;
                right: 0;
                bottom: 0;
                left: -5px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 2px solid white;
                transition: all .5s;
            }
        }
        input {
            font-family: 'Inconsolata', monospace;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            height: 50px;
            outline: none;
            border: none;
            // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            // esta son las sombras al abrirse
            background: #33b5e5;
            color: white;
            text-shadow: 0 0 10px #33b5e5;
            padding: 0 80px 0 20px;
            border-radius: 30px;
            box-shadow: 0 0 25px 0 #33b5e5, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
            // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
            transition: all 1s;
            opacity: 0;
            z-index: 5;
            font-weight: bolder;
            letter-spacing: 0.1em;
            &:hover {
                cursor: pointer;
            }
            &:focus {
                width: 300px;
                opacity: 1;
                cursor: text;
            }
            &:focus~.search {
                right: 0;
                // luego de hacer lick se pinta este color el circulo
                background: #00695c;
                z-index: 6;
                &::before {
                    top: 0;
                    left: 0;
                    width: 25px;
                }
                &::after {
                    top: 0;
                    left: 0;
                    width: 25px;
                    height: 2px;
                    border: none;
                    background: white;
                    border-radius: 0%;
                    transform: rotate(-45deg);
                }
            }
            &::placeholder {
                color: white;
                opacity: 0.5;
                font-weight: bolder;
            }
        }
    }
}

// fin de buscador
//radio inicio 
$md-radio-checked-color: rgb(213, 67, 218);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;
@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
    }
    50% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
    }
}

// @import url(https://fonts.googleapis.com/css?family=Roboto);
.md-radio {
    margin: 7px 0;
    input[type="radio"] {
        display: none;
        &:checked+label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;
        }
        &:checked+label:after {
            transform: scale(1);
        }
    }
    label {
        display: inline-block;
        height: $md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before,
        &:after {
            position: absolute;
            content: '';
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }
        &:after {
            top: $md-radio-size / 2 - $md-radio-checked-size / 2;
            left: $md-radio-size / 2 - $md-radio-checked-size / 2;
            width: $md-radio-checked-size;
            height: $md-radio-checked-size;
            transform: scale(0);
            background: $md-radio-checked-color;
        }
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

thead td {
    color: crimson;
}

select.mdb-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f034c1;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 95%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-left: 2.2rem;
}

select.mdb-select:active {
    border-bottom: 1px solid rgb(238, 133, 203);
    -webkit-box-shadow: 0 1px 0 0 rgb(230, 111, 230);
    box-shadow: 0 1px 0 0 rgb(228, 32, 195);
}

//radio fin
thead td {
    color: crimson;
}

// checboxk
// @import url(https://fonts.googleapis.com/css?family=Roboto);
$md-checkbox-margin: 10px 0;
$md-checkbox-checked-color: rgb(213, 67, 218);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;
$md-checkmark-width: 2px;
$md-checkmark-color: #fff;
.md-checkbox {
    position: relative;
    margin: $md-checkbox-margin;
    text-align: left;
    &.md-checkbox-inline {
        display: inline-block;
    }
    label {
        cursor: pointer;
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }
        &:before {
            // box
            width: $md-checkbox-size;
            height: $md-checkbox-size;
            background: #fff;
            border: 2px solid $md-checkbox-border-color;
            border-radius: 2px;
            cursor: pointer;
            transition: background .3s;
        }
        // &:after {
        //   // checkmark
        // }    
    }
    input[type="checkbox"] {
        outline: 0;
        margin-right: $md-checkbox-size - 10px;
        visibility: hidden;
        &:checked {
            +label:before {
                background: $md-checkbox-checked-color;
                border: none;
            }
            +label:after {
                $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;
                transform: rotate(-45deg);
                top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
                left: $md-checkbox-padding;
                width: $md-checkmark-size;
                height: $md-checkmark-size / 2;
                border: $md-checkmark-width solid $md-checkmark-color;
                border-top-style: none;
                border-right-style: none;
            }
        }
        &:disabled {
            +label:before {
                border-color: $md-checkbox-border-color-disabled;
            }
            &:checked {
                +label:before {
                    background: $md-checkbox-checked-color-disabled;
                }
            }
        }
    }
}

select.mdb-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f034c1;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 75%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-left: 2.2rem;
    margin: 10px 0 10px 0;
}

select.mdb-select:active {
    border-bottom: 1px solid rgb(238, 133, 203);
    -webkit-box-shadow: 0 1px 0 0 rgb(230, 111, 230);
    box-shadow: 0 1px 0 0 rgb(228, 32, 195);
}

label.otros1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

span.guardado {
    background: #fdfdfd;
    font-size: 20px;
    color: rgb(35, 89, 236);
}

div label span {
    color: red;
}

div.modal-content {
    padding: 20px;
    div.modal-header {
        background: rgb(255, 255, 255);
        h5 {
            text-align: center;
            text-transform: uppercase;
            color: black;
            font-weight: 700;
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    div.modal-body {
        i {
            color: purple;
        }
    }
}

.right {
    text-align: right;
}

i {
    color: red;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

#add-contact-button {
    top: 75%;
    font-size: 20px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
}

#delite-contact-button {
    top: 65%;
    font-size: 20px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
}

// .fade {
//   width: ;
// }

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.main-container {
    margin-top: 30px!important;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 350px;
    overflow-y: auto;
}