<div class="row">
    <div class="col-12">

        <h4 class="text-center">AREAS</h4>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-responsive-md table-fixed">
                    <thead>
                        <tr class="table-dark">
                            <th>Lista de Areas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of areas">
                            <td>{{item.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- https://bootsnipp.com/snippets/featured/circle-button -->
        <button (click)="basicModel3.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
        style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
      </button>


    </div>
</div>

<div mdbModal #basicModel3="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModel3.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100 text-center" id="myModalLabel">Areas</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input mdbInput type="text" id="areasdescripcion" class="form-control" [(ngModel)]="newArea.descripcion">
                    <label for="areasdescripcion" class="">Descripción area</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModel3.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="GuardarAndActualizaArea(basicModel3)" mdbWavesEffect>OK</button>
            </div>
        </div>
    </div>
</div>